.button {
    display: inline-block;
    font-size: 2em;
    padding: 0.75em 1em;
    background-color: #1ce;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
     cursor: pointer; 
    }
    
    .button:hover {
      background-color: black;
    }
    
    .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    background-color: #333;
    transition: transform 0.3s ease-out;
    }
    
    .sidebar.is-hidden {
    transform: translateX(300px);
    }
    
    .sidebar ul {
    margin: 0;
    padding: 0;
    }
    
    .sidebar li {
    list-style: none;
    }
    
    .sidebar li + li {
    border-top: 1px solid white;
    }
    
    .sidebar a {
    display: block;
    padding: 1em 1.5em;
    color: #fff;
    text-decoration: none;
    }