
.header {
    background-color: #333;
    overflow: hidden;
  }
  
  .header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
 
  .header a:hover {
    background-color: rgb(223, 223, 223);
    color: black;
  }
  
  .nav a.nav {
    background-color: #adfade;
    color: white;
  }

  .divs
  {
     text-align: center;
     padding: 10%;
     margin: 10%;
      float: right;


      background: linear-gradient(180deg, rgb(255, 255, 255) 50%, rgb(216, 216, 216) 80%);
      
  }

.divs h3
{
font: size 15px;
}
  .main a :hover{
    background: linear-gradient(180deg, rgb(248, 210, 210) 50%, rgb(206, 206, 206) 80%);
    
  }

  h3
  {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
  }

 
 .h{
   font-size: 100px;
   color:blue;
 }
 .login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

 
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: right;
  box-shadow: 0 0 1px 0 rgba(14, 14, 14, 0.2), 0 5px 5px 0 rgba(24, 24, 24, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #e7e7e7;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

button
{
  border: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  padding-left: 40px;
  padding-right: 40px;
  height: 40px;
  color: rgb(255, 255, 255);
}

a :hover
{
 background-color: rgb(39, 39, 39);
}
button :hover
{
  color: #adfade;
}
button a
{
  color: white;
}

.driver-div
{
  margin-right: 27%;
  align-items: center;
}

.title-admin
{
font-size:30px;
  text-align: center;
  margin-top: 30px;
color:white;
}

.btn-side
{
  margin-left: 90%;
}

body
{
background: linear-gradient(90deg, rgb(203, 204, 203) 0%, rgb(43, 44, 43) 50%);
}
